<!-- base html file for The Junimo's Guide -->
<!DOCTYPE html>
<html lang="en">
<!-- linking files -->
<head>
    <meta charset="UTF-8">
    <title>Junimo's Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="site-header">
    <h1 class="site-title">Junimo's Guide</h1>
    <nav class="main-nav">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('villagers') }}">Villagers</a>
      <a href="{{ url_for('items') }}">Items</a>
      <a href="{{ url_for('rooms') }}">Rooms</a>
      <a href="{{ url_for('bundles') }}">Bundles</a>
      <a href="{{ url_for('progress') }}">Progress</a>
    </nav>
  </header>

  <main class="content">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
